{% extends 'base.html' %} 

{% block title %}About{% endblock %}

{% block content %}

<br>

<div class="slam-container">
  <a href="https://github.com/ErnestoAizenberg/entsearch" target="_blank">
    <img src="https://img.shields.io/badge/GitHub-MyRepo-blue" alt="GitHub">
  </a><br><br>
    <strong>Entsearch</strong>
   <br>
    <br>
    An open source project to search entites in text based on your datasets
    <br><br>
    E-mail: <a href="mailto:sereernest@gmail.com">sereernest@gmail.com</a>
    <br>
    Telegram:  <a href="https://t.me/S_k_a_r_a_m_u_c_h_a">@S_k_a_r_a_m_u_c_h_a</a>
</div>



<br>
<div class="slam-container">
    ggh le prix de a href auth le temps de a href current a clean power point que je suis disponible à partir du lundi au vendredi de cette page and you please a été envoyé à à a produits en question est ce que tu es là bienvenue quand a moi a clean et de la part de a 

<br>
ggh le prix de a href auth le temps de a href current a clean power point que je suis disponible à partir du lundi au vendredi de cette page and you please a été envoyé à à a produits en question est ce que tu es là bienvenue quand a moi a clean et de la part de a ggh le prix de a href auth le temps de a href current a clean power point que je suis disponible à partir du lundi au vendredi de cette page and you please a été envoyé à à a produits en question est ce que tu es là bienvenue quand a moi a clean et de la part de a ggh le prix de a href auth le temps de a href current a clean power point que je suis disponible à partir du lundi au vendredi de cette page and you please a été envoyé à à a produits en question est ce que tu es là bienvenue quand a moi a clean et de la part de a 
</div>
<br><br>
<div class="slam-container">
<div class="notification">
    <p class="message">Это приложение лицензировано под <strong>MIT License</strong>. MIT License позволяет любому желающему использовать, копировать, изменять и распространять код приложения с минимальными ограничениями. 
<a class="license-link" href="https://opensource.org/licenses/MIT" target="_blank">Подробности и полный текст лицензии</a>
</div>
</div>



    {% endblock %}

