{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

<body>
<div class='container'>
<div class="circle"><div class="circle2"></div></div><h3>{{ email }}</h3>

  <div class="brief">

    <div class="brief_row" data-target="textArea1">Documentation</div>
    <div class="text_area" id="textArea1">This is the block of text that appears when you hover over the Documentation div.</div>

    <div class="brief_row" data-target="textArea2">Used Models</div>
    <div class="text_area" id="textArea2">This is the block of text that appears when you hover over the Used Models div.</div>

    <div class="brief_row" data-target="textArea3">About</div>
    <div class="text_area" id="textArea3">This is the block of text that appears when you hover over the About div.</div>

    <div class="brief_row" data-target="textArea4">Support</div>
    <div class="text_area" id="textArea4"><a href="#">This is the block of text that appears when you hover over the Support div.</a></div>

 
<button type="button" class="google-sign-in-button" >
     <a href="/authorize/google" style="text-decoration: none;">Sign in with Google</a></button>
</div>
{% endblock %}
