<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Here we go{% endblock %}
    </title>
   
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
  {% block additional_css %}
  {% endblock %}
</head>

<body class="{% if request.path == '/datasets' %}datasets_page{% endif %}">
    <button class="blue_button toggle-button" id="blue_button" onclick="toggleNavbar()">☰🔽</button>
    <div class="navbar" id="navbar">
        <div class="links">
            <div class="link-container">
                <a href="{{ url_for('home') }}">Main</a>
            </div>
            <div class="link-container">
                <a href="{{ url_for('datasets') }}">Dictionary</a>
            </div>
            <div class="link-container">
                <a href="/current/SngNQqrvFiQs" id="current_dataset_link">Current</a>
            </div>

            {% if not user_id %}
              <div class="link-container" id="login-button">
                <a href="/authorize/google">Sign-in</a></div>         
            {% else %}
              <div class="link-container" id="login-button">
                <a href="logout">Sign-out</a></div>
            {% endif %}

            <div class="link-container">
                <a href="{{ url_for('create_dataset_page') }}">Create</a>
            </div>
            <div class="link-container">
                <a href="{{ url_for('about') }}">About</a>
            </div>
        </div>
    </div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashed-messages">
            {% for message in messages %}
                {% set message_type = message.split(':', 1)[0] %}
                {% set message_content = message.split(':', 1)[1] %}
                <li class="{{ message_type }}">{{ message_content }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    {% block content %}{% endblock %}

   <script src="{{ url_for('static', filename='js/socketio.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
  {% block additional_js %}
  {% endblock %}
</body>
</html>
